node_modules/*
/coverage
/release
/plugins
src/@adopisoft
src/plugins
src/test
src/pluginsx
config/*.ini
config/*.conf
config/accounts/*.ini
config/interfaces/*.ini
config/pppoe/dsl-provider
config/pppoe/pap-secrets
config/pppoe/chap-secrets
config/pppoe/*.ini
config/defaults/interfaces/*.ini
!config/defaults/*.ini
db/config.json
*.sqlite
*.node
.nyc_output
.external_modules
*.swp
*.swo
.tmp/*
tmp/
backups/*
.tmp/
.test/
.etc/
!.etc/.keep
adopisoft.log
system.log
yarn-error.log
update.deb
.DS_Store
.vscode/*
tags
tags.*
test.js
.env
captive-portal/dist
captive-portal/themes
public/backup
public/plugins
public/system-report.log
uploads/*
.idea
reboot.tmp
